POSTGRES_DB=descontovivo
POSTGRES_USER=descontovivo
POSTGRES_PASSWORD=descontovivo
APP_ADMIN_TOKEN=change-me
QUARKUS_HTTP_CORS_ORIGINS=http://localhost:4200
OIDC_AUTH_SERVER_URL=http://localhost:8082/realms/descontovivo
OIDC_CLIENT_ID=descontovivo-api
